html, body {
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
}

.container-fluid{
    display: grid;
    position: relative;
    font-family: garamond;
    
}

.topView{
    width:80px;
    display: flex;
    margin: auto;
    position: fixed;
    top: 25%;
    right: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Times New Roman', serif;
    border: 3px solid transparent;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 15%;
    text-align: center;
}

.icons{
    width: 3em;
    height: 3em;
    border: 1px solid transparent;
    background-color: rgb(231,66,47);
    border-radius: 50px;
}

.icons:hover{
    background-color: yellow;
}

.topView>a{
    display: inline-block; 
    padding: 5px;
    width: 55px;
    margin: 3px;
    font-size: 20px;
    color: white;
    text-decoration: none !important;
}

.header{
    font-family: garamond;
    font-weight: bold;
    font-size: 500%;
    color: aliceblue;
    text-align: center;
    text-shadow: 35px 25px 100px red;
}
.row{
    width: 95%;
    position: relative;
    top: 1%;
    left: 3%;
    right: 1%;
    font-size: 100%;
}

.col-sm{
    border-left: 10px solid yellow;
    border-right: 10px solid yellow;
    border-radius: 20%;
}
.address{
    width: 10%;
    border-radius: 20%;
    background-color: rgb(235, 136, 8);
}

#footer {
    /* bottom : 0; */
    height:20%;
    margin-top : 2%;
    position: relative;
    left: 1%;
    text-align: left;
    font-size: 20px;
    font-family: garamond;
}

#line-break{
    color: white;
}

.col-lg{
    border: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 15%;
    display: inline-block;
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 12vh;
    width: 80%;
}

#front{
    font-size: 150%; 
    text-align: left;
}

.col-md-12{
    text-align: center;
}

#last{
    font-size: 150%; 
}

.text-right{
    text-align: center;
}

.sorters{
    margin-left: 5%;
}

.pl-3{
    padding-left: 1%;
    color: rgb(0, 255, 242)
}