@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

html, body {
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
}

.container-fluid{
    display: grid;
    position: relative;
    height: 100%;
    font-family: garamond;
}

.header{
    font-family: garamond;
    font-weight: bold;
    font-size: 500%;
    color: aliceblue;
    text-align: center;
    text-shadow: 35px 25px 100px red;
}

.topView{
    width:100px;
    display: flex;
    position: fixed;
    top: 200px;
    right: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Times New Roman', serif;
    border: 3px solid transparent;
    background-color: rgba(0, 0, 0, 0.295);
}

.icons{
    width: 3em;
    height: 3em;
    border: 1px solid transparent;
    background-color: rgb(231,66,47);
    border-radius: 50px;
}

.icons:hover{
    background-color: yellow;
}

.topView>a{
        text-decoration: none !important;
}

.topView>a{
    display: inline-block; 
    padding: 5px;
    width: 55px;
    margin: 3px;
    font-size: 20px;
    color: white;
}

#headers{
    width:90%;
    display: block;
    position: relative;
    top: 10%;
    left: 5%;
    font-size: 45px;
    font-style: bolder;
    flex-direction: row;
    background-color:rgba(0, 0, 0, 0.479);
    border-radius: 5%;
    text-align: center;
}

#skill{
    width:100%;
    display: block;
    text-align: center;
    font-size: 30px;
    font-style: bolder;
    color: yellow;
}

#desciption{
    padding-left: 0px;
    font-size: 30px;
    color: white;
    font-family: garamond;
}


#footer {
    height:20%;
    margin-top : 2%;
    position: relative;
    left: 2%;
    text-align: left;
    font-size: 20px;
    font-family: garamond;
}

#line-break{
    color: white;
}

.col-sm-5{
    position: relative;
    top: 10%;
    left: 2%;
}

.pl-3{
    padding-left: 1%;
    color: rgb(0, 255, 242)
}